<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ruiyan_hand_left">

  <!-- Include the hand macro -->
  <xacro:include filename="$(find ruiyan_rh2_hand_description)/urdf/ruiyan_hand_left_macro.xacro"/>

  <!-- World link -->
  <link name="world"/>

  <!-- Instantiate the left hand -->
  <xacro:ruiyan_hand_left parent="world" prefix="">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ruiyan_hand_left>

</robot>
